extends layout

block content
  .container
    script(src='js/home.js')
    hr
    h3 Dernières astuces
    .lasttips
    hr

    p
      a(href='/profile', role='button', style='font-size: 18px') Voir profil
    p
      a.addtip(href='#', role='button', style='font-size: 18px') Ajouter une astuce
      #newtip(style="display:none;")
        form#send-tip-area
          p Votre astuce: 
          textarea#sendie(maxlength='140', rows="10", cols="50")
          button#tip-send(type='submit') Envoyer
