extends layout

block content
    .jumbotron
      .container
        h1 Bienvenue sur Studentip!
        p
          | Studentip est un site permettant aux étudiants de partager et d'améliorer les petits trucs et astuces que ces derniers utilisent au quotidien.
        p
          a.btn.btn-lg.btn-primary(href='#', role='button') En savoir plus &raquo;
          a.btn.btn-lg.btn-signup(href='/register', role='button') S&apos;inscrire &raquo;
    .container.new-tips
      h2 Nouvelles astuces
    hr
    footer 2015 TPDEV
