extends layout

block content
  script(type='text/javascript').
    var tip = !{JSON.stringify(tip)};
    var owner = tip.owner;
    var content = tip.content;
    var date = tip.creation_date;
    var tip_id = tip._id;
       
    $(document).on("ready", function() { $(".comments").append(createBubble(tip)); });
    $(document).on("ready", function() { $(".comments").append(addCommentBox(tip.comments)); });
  script(type='text/javascript', src='js/comment.js')

  .comments
    hr
    if (user)
      script(type='text/javascript').
        $(document).on("ready", function() { 
          $( ".add-cmt" ).click(function() { 
            addCommentToTip(tip_id, "#{user.username}");
          });
        });

    if (!user)
      script(type='text/javascript').
        $(document).on("ready", function() { 
          $( ".add-cmt" ).click(function() { 
            alert($("input.form-control").val()); 
            addCommentToTip(tip_id, "Anon"); 
          });
        })
