body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ececec;
  padding: 0;
  color: #5A5A5A;
}
  #page-content {
    flex: 1;
    margin-top: 52px;
  }
  footer {
    color: silver;
    padding: 10px 20px;
  }

.form-group {
  margin: 14px;
}

/*.example-right a {
  color: #4A42CA !important;
}*/

.btn-signup {
  background-color: hsl(37, 100%, 60%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb032", endColorstr="#ffb032");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb032), to(#ffb032));
  background-image: -moz-linear-gradient(top, #ffb032, #ffb032);
  background-image: -ms-linear-gradient(top, #ffb032, #ffb032);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb032), color-stop(100%, #ffb032));
  background-image: -webkit-linear-gradient(top, #ffb032, #ffb032);
  background-image: -o-linear-gradient(top, #ffb032, #ffb032);
  background-image: linear-gradient(#ffb032, #ffb032);
  border-color: #ffb032 #ffb032 hsl(37, 100%, 60%);
  color: #FEFEFE !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}

#btn-register-submit {
  margin-left: 14px;
  background: #0880C1;
  color: white;
  border: 1px solid #0880C1;
}

/* Send tip */
#sendTip-open {
  margin-right: 10px;
  padding-right: 24px;
  border-right: 1px solid #9ad9fb;
}
#sendTip-dialog {
  /*border-top: 1px solid #E1E1E1;*/
  display: flex;
  align-items: center;
  margin:4px 0;
}
  #sentTip-input {
    resize: false;
    border: 1px solid #E1E1E1;
    flex: 1;
  }
  #sendTip-btn {
    width: 50px;
    font-size: 24px;
    text-align: center
  }
  #sendTip-btn {
    color:#0880C1;
  } 




/* NAV */
#menu {
  background: #0880C1;
  color: #9ad9fb;
}
  #menu a {
    color: #9ad9fb;
    -webkit-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  #menu a:hover {
    color: white;
    -webkit-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  #menu > .container {
    display: flex;
    align-items: center;
  }
  #menu-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .nav-icon {
    color: #cbebfd;
    font-size: 28px;
    -webkit-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  .nav-icon:hover {
    color: white;
    -webkit-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }
  #register-btn {
    font-size: 16px;
    margin-right: 18px;
    padding-right: 18px;
    border-right: 2px solid #9ad9fb;
    font-weight: bold;
    color: #cbebfd !important;
  } 
  #register-btn:hover {
    color: white !important;
    text-decoration: none;
    -webkit-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
  }